/* imports */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* elements */

:root {
  --white: white;
  --peach-puff: #ebc7b5;
  --black: black;
  --dark-cyan: #0f86a1;
  --linen: #f8efe5;
}

body {
  color: #333;
  background-color: #f8efe5;
  font-family: "Courier Prime", monospace;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
}

h1 {
  font-size: 78px;
  font-weight: 300;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}

h2 {
  font-size: 54px;
  font-weight: 400;
  margin-bottom: 64px;
  padding-bottom: 10px;
}


h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
  letter-spacing: -.01em;
  line-height: 30px;
}

h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 24px;
}

h1, h2 {
  line-height: 1em;
}

h1, h2, h3 {
  font-family: "Courier Prime", monospace;
}

h1, h2, h3, h4 {
  margin-top: 0;
}

p {
  margin-bottom: 0;
  line-height: 1.4em;
}

a {
  text-decoration: underline;
  transition: all .2s;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

/* classes */

.header__nav-link::after {
  background-color: #fff;
}

.footer__nav-link::after {
  background: #666;
}

.header__nav-link::after,
.footer__nav-link::after {
  content: " ";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0.5, 0.5, 1);
  transition: -webkit-transform 0.25s cubic-bezier(0, 0.5, 0.5, 1);
  -o-transition: -o-transform 0.25s cubic-bezier(0, 0.5, 0.5, 1);
  transition: transform 0.25s cubic-bezier(0, 0.5, 0.5, 1);
  transition: transform 0.25s cubic-bezier(0, 0.5, 0.5, 1),
    -webkit-transform 0.25s cubic-bezier(0, 0.5, 0.5, 1),
    -o-transform 0.25s cubic-bezier(0, 0.5, 0.5, 1);
  -webkit-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 0;
  -o-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.header__nav-link::hover::after,
.footer__nav-link:hover::after {
  -webkit-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

/* hover */

.courses__block :hover a {
  padding-right: 38px;
}

.courses__block :hover .courses__illustr .mod--2 {
  opacity: 1;
}

.courses__block :hover .courses__illustr-elem-wrap .mod--2 {
  transform: translate (-10px, -10px);
}

.courses__block :hover .courses__illustr-elem-wrap .mod--1 {
  transform: translate (-10px, 0px);
}

.courses__block :hover .courses__illustr-elem-wrap .mod--3,
.courses__block :hover .courses__illustr-elem-wrap .mod--4 {
  transform: translate (0px, -10px);
}

.courses__block :hover .courses__illustr-elem .mod--5 {
  transform: rotate (20deg);
  bottom: 59px;
}

[data-swiper="pagin-numb"] > span {
  height: 3px !important ;
  width: auto !important ;
  max-width: 40px;
  margin-right: 6px;
  margin-left: 6px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #ebbea7 !important;
  opacity: 0.4;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
}

.remodal-overlay { 
  background: rgba(27, 27, 27, 0.9); 
}

.remodal { 
  transform: scale(1) !important; 
} 

.remodal-wrapper { 
  padding: 0px;
  overflow: hidden;
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  transform: translate(0,0);
} 

body { 
  padding-right: 0px !important; 
}

form {
  display:block !important
}

.w-form-done {
  display:none !important
}

.sp-form-outer {
  display:none;
}

/* styling */

.main {
  height: 500vh;
}

.section-slides {
  z-index: 1;
  height: 100vh;
  position: sticky;
  top: 0;
}

.section-slide {
  height: 100vh;
  position: absolute;
  inset: 0%;
  overflow: hidden;
}

.section-slide.mod--4 {
  z-index: 4;
  height: auto;
  overflow: visible;
}

.section-slide.mod--3 {
  z-index: 3;
}

.section-slide.mod--2 {
  z-index: 2;
}

.section {
  padding: 128px 60px;
  position: relative;
}

.section.mod--header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 90;
  width: 90%;
  margin-bottom: 120px;
  padding-top: 40px;
  padding-bottom: 0;
  inset: 0% 0% auto;
}

.content {
  z-index: 2;
  width: 100%;
  max-width: 1310px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.header__columns {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header__col {
  flex: 1;
}

.header__logo-link {
  filter: brightness(0%) invert();
}

.header__nav-link {
  color: var(--white);
  text-transform: uppercase;
  margin-left: 36px;
  margin-right: 36px;
  line-height: 1.7em;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.header__col.mod--3 {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.header__col.mod--2 {
  flex: none;
}

.header__search {
  cursor: pointer;
  margin-right: 24px;
}

.btn {
  background-color: var(--peach-puff);
  color: var(--black);
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  min-width: 175px;
  min-height: 70px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: "Courier Prime", monospace;
  text-decoration: none;
  transition-duration: .5s;
  display: flex;
  position: relative;
  overflow: hidden;
}

.btn.btn--header {
  background-color: var(--white);
  min-height: auto;
  padding-top: 17px;
  padding-bottom: 16px;
}

.btn__bg-wrap {
  z-index: 0;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0%;
  overflow: hidden;
}

.btn__bg {
  background-color: var(--white);
  border-radius: 50%;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 280px;
  position: relative;
}

.btn__bg.mod--invert {
  background-color: #ebc7b5;
}

.btn__txt {
  z-index: 2;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.header__humb-wrap, .header__humb {
  display: none;
}

.section.mod--hero {
  color: var(--white);
  background-image: url('./assets/bg_hero.svg');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 48px;
  display: flex;
}

.home__content {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 174px;
  display: flex;
  position: relative;
}

.wrap-hide {
  overflow: hidden;
}

.hero__heading.mod--1 {
  margin-bottom: 0;
  padding-bottom: 10px;
}

.subheading {
  opacity: 0.7;
  font-size: 22px;
}

.subheading.mod--hero {
  opacity: 1;
  max-width: 500px;
  margin-bottom: 80px;
}

.btn.mod--hero {
  min-width: 260px;
  text-decoration: none;
  transition-property: none;
  overflow: hidden;
}

.hero_illustr {
  z-index: 2;
  position: relative;
}

.hero_illustr-wrap  {
  position: absolute;
  inset: -20px 0 auto auto;
}

.hero_illustr-ball {
  z-index: 0;
  display: block;
  position: absolute;
  top: 20px;
  left: 116px;
}

.hero_illustr-hand {
  z-index: 0;
  display: block;
  position: absolute;
  top: 96px;
  left: 136px;
}

.hero_illustr-leaves2 {
  z-index: 0;
  display: block;
  position: absolute;
  bottom: 40px;
  left: -7px;
}

.hero_illustr-leaves {
  z-index: 0;
  display: block;
  position: absolute;
  bottom: 30px;
  right: 69px;
}

.hero_illustr-plane {
  z-index: 0;
  display: block;
  position: absolute;
  top: 5px;
  right: 0;
}

.hero__logos {
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1080px;
  margin-bottom: 65px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.hero__logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.hero__counts {
  color: #1b1b1b;
  background-color: #f8efe5;
  border-radius: 80px;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
}

.swiper {
  width: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  display: flex;
}

.swiper-slide {
  justify-content: center;
  align-items: stretch;
  display: block;
  position: relative;
}

.swiper-slide.mod--numb {
  flex: 1;
}

.hero__numb-block {
  text-align: center;
  flex: 1;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.hero__counts-img-wrap {
  margin-bottom: 28px;
  position: relative;
}

.hero__counts-img {
  z-index: 0;
  position: relative;
}

.hero__counts-numb {
  z-index: 2;
  color: var(--black);
  justify-content: center;
  align-items: center;
  font-family: "Courier Prime", monospace;
  font-size: 60px;
  font-weight: 700;
  display: flex;
  position: absolute;
  inset: 0%;
}

.hero__counts-p {
  color: #1b1b1bb3;
  line-height: 1.9em;
}

.hero__counts-dash {
  opacity: .5;
  background-image: url('./assets/dash-vertical.svg');
  background-position: 50% 100%;
  background-repeat: repeat-y;
  background-size: auto;
  width: 2px;
  height: 83px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.swiper-pagination-bullets {
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 2px;
  display: flex;
}

.swiper-pagination-bullets.mod--numbs {
  display: none;
  position: relative;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

.section.mod--steps {
  z-index: 1;
  background-color: #f8efe5;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  display: flex;
}

.steps__columns {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.steps__col {
  flex: 1;
  position: relative;
}

.steps__illustr-wrap {
  display: inline-block;
  position: relative;
}

.steps__illustr {
  z-index: 0;
  display: block;
  position: relative;
}

.steps__illustr-graph-wrap {
  z-index: 1;
  width: 110px;
  height: 50px;
  position: absolute;
  top: 198px;
  right: 65px;
}

.steps__illustr-graph-dot {
  background-color: var(--black);
  border-radius: 100px;
  width: 4px;
  height: 4px;
  position: absolute;
  top: 44px;
  left: 2px;
}

.steps__illustr-graph-dot.mod--1 {
  transform: rotate(43deg);
}

.steps__illustr-graph-dot.mod--2 {
  top: 9px;
  left: 35px;
  transform: rotate(125deg);
}

.steps__illustr-graph-dot.mod--3 {
  top: 30px;
  left: 68px;
  transform: rotate(51deg);
}

.steps__illustr-graph-dot.mod--4 {
  top: 0;
  left: 105px;
  transform: rotate(51deg);
}

.steps__illustr-graph-line {
  z-index: -1;
  background-color: var(--dark-cyan);
  width: 1px;
  height: 50px;
  transition: all 1s;
  position: absolute;
  bottom: 1px;
  left: 1px;
}

.steps__illustr-graph-line.mod--2 {
  height: 40px;
}

.steps__illustr-smile {
  z-index: 1;
  transition: all .4s;
  position: absolute;
  top: 91px;
  left: 195px;
}

.steps__illustr-hand {
  z-index: 1;
  transition: all .8s;
  position: absolute;
  top: 128px;
  left: 121px;
}

.steps__list {
  width: 100%;
  max-width: 560px;
}

.steps__list-item {
  margin-bottom: 64px;
  padding-left: 74px;
  padding-right: 80px;
  position: relative;
}

.steps__numb {
  position: absolute;
  top: -10px;
  left: 0;
}

.steps__numb-img {
  z-index: 0;
  position: relative;
}

.steps__numb-txt {
  z-index: 1;
  color: #f8efe5;
  text-align: center;
  letter-spacing: -.01em;
  justify-content: center;
  align-items: center;
  font-family: filson-pro;
  font-weight: 700;
  display: flex;
  position: absolute;
  inset: 0%;
}

.steps__list-p {
  color: #1b1b1bb3;
  line-height: 1.9em;
}

.steps__list-arrow-wrap {
  position: absolute;
  inset: 10px 0 auto auto;
  overflow: hidden;
}

.steps__list-arrow-wrap.mod--2 {
  transform-style: preserve-3d;
  left: -100px;
  right: auto;
  transform: rotateX(0)rotateY(-180deg)rotateZ(0);
}

.steps__list-arrow {
  display: block;
}

.steps__list-item.mod--2 {
  margin-left: 100px;
  padding-right: 0;
}

.section-slide.mod--2.test {
  z-index: 88;
}

.section.mod--courses {
  background-image: url('./asstes/bg_courses.svg');
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.courses__heading-wrap {
  color: var(--white);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
  display: flex;
}

.courses__columns {
  justify-content: space-between;
  margin-left: -16px;
  margin-right: -16px;
  display: flex;
}

.courses__col {
  flex: 1;
  padding-left: 16px;
  padding-right: 16px;
}

.heading--margin-0 {
  margin-bottom: 0;
}

.subheading.mod--courses {
  width: 100%;
  max-width: 520px;
}

.courses__block {
  z-index: 2;
  cursor: pointer;
  background-color: #f8efe5;
  border-radius: 40px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  min-height: 500px;
  padding: 40px 32px 56px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.courses__type {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 16px;
  font-size: 22px;
}

.courses__more {
  z-index: 2;
  color: var(--dark-cyan);
  letter-spacing: .01em;
  text-transform: uppercase;
  background-image: url('./assets/ico_arrow-blue.svg');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  padding-right: 32px;
  font-family: stratos;
  font-size: 22px;
  text-decoration: none;
  transition-duration: .3s;
  display: inline-block;
  position: relative;
}

.courses__illustr {
  z-index: 0;
  transition: all .5s;
  display: block;
  position: relative;
}

.courses__illustr-wrap {
  z-index: 0;
  position: absolute;
  inset: auto 0% 0% auto;
}

.courses__illustr-elem {
  transition: all .5s;
}

.courses__illustr-elem.mod--5 {
  opacity: 1;
  background-color: #9b5c8f;
  border-radius: 100px;
  width: 22px;
  height: 6px;
  position: absolute;
  bottom: 53px;
  right: 68px;
  transform: rotate(-20deg);
}

.courses__illustr-elem.mod--dot {
  background-color: var(--black);
  border-radius: 100px;
  width: 4px;
  height: 4px;
  top: 34px;
  right: 58px;
}

.courses__illustr-elem.mod--ball {
  background-color: #ebc7b5;
  border-radius: 100px;
  width: 14px;
  height: 14px;
  top: 0;
  right: 109px;
}

.courses__illustr-elem.mod--blue {
  top: 41px;
  left: 9px;
}

.courses__illustr-elem.mod--circle {
  border: 1px solid #000;
  border-radius: 100px;
  width: 12px;
  height: 12px;
}

.courses__illustr-elem-wrap {
  transition: all .5s;
  position: absolute;
}

.courses__illustr-elem-wrap.mod--4 {
  bottom: 180px;
  left: 190px;
}

.courses__illustr-elem-wrap.mod--3 {
  bottom: 220px;
  left: 100px;
}

.courses__illustr-elem-wrap.mod--2 {
  bottom: 160px;
  left: 9px;
}

.courses__illustr-elem-wrap.mod--1 {
  bottom: 30px;
  left: 2px;
}

.courses__block-bg {
  z-index: -1;
  background-color: var(--white);
  border-radius: 1000px;
  width: 700px;
  height: 700px;
  position: absolute;
  inset: auto auto -100px -100px;
}

.courses__illustr.mod--2 {
  z-index: 1;
  opacity: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}

.courses__illustr-elem.mod--blue.mod--screen {
  max-width: 18px;
}

.courses__illustr-elem.mod--ball.mod--screen {
  width: 14px;
  height: 14px;
}

.courses__illustr-elem.mod--dot.mod--screen {
  width: 6px;
  height: 6px;
}

.courses__illustr-elem-wrap.mod--1.mod--screen {
  bottom: 16px;
  left: -1px;
}

.courses__illustr-elem-wrap.mod--2.mod--screen {
  bottom: 146px;
  left: 1px;
}

.courses__illustr-elem-wrap.mod--3.mod--screen {
  bottom: 193px;
  left: 86px;
}

.courses__illustr-elem-wrap.mod--4.mod--screen {
  bottom: 170px;
  left: 170px;
}

.courses__illustr-elem.mod--ball.mod--graph {
  width: 18px;
  height: 20px;
}

.courses__illustr-elem.mod--dot.mod--graph {
  background-color: var(--black);
  width: 8px;
  height: 8px;
}

.courses__illustr-elem-wrap.mod--2.mod--graph {
  bottom: 135px;
  left: 21px;
}

.courses__illustr-elem-wrap.mod--3.mod--graph {
  bottom: 181px;
  left: 116px;
}

.courses__illustr-elem-wrap.mod--4.mod--graph {
  bottom: 166px;
  left: 200px;
}

.courses__illustr-elem.mod--circle.mod--graph {
  border-width: 2px;
  width: 20px;
  height: 20px;
}

.section-slide.mod--1 {
  z-index: 1;
}

.section.mod--reviews {
  z-index: 1;
  background-color: #f8efe5;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.heading--center {
  text-align: center;
}

.swiper.swiper--reviews {
  overflow: visible;
}

.swiper-slide.mod--reviews {
  text-align: center;
  flex: 1;
  padding-left: 70px;
  padding-right: 70px;
}

.reviews__block {
  flex-direction: column;
  align-items: center;
  width: 100%;
  display: flex;
}

.reviews__ava {
  z-index: 0;
  position: relative;
}

.reviews__ava-wrap {
  z-index: 1;
  justify-content: center;
  align-items: center;
  min-height: 130px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.reviews__ava-spot {
  z-index: 1;
  position: absolute;
  inset: auto auto 4px 18px;
}

.reviews__ava-spot.mod--1 {
  bottom: -5px;
}

.reviews__ava-spot.mod--2 {
  left: auto;
  right: 2px;
}

.reviews__ava-spot.mod--3 {
  inset: 0 12px auto auto;
}

.reviews__ava-dot {
  z-index: 1;
  background-color: var(--black);
  border-radius: 100px;
  width: 8px;
  height: 8px;
  position: absolute;
  inset: 15px 3px auto auto;
}

.reviews__ava-dot.mod--2 {
  top: 23px;
  left: -5px;
  right: auto;
}

.reviews__ava-dot.mod--3 {
  top: 33px;
  left: -24px;
  right: auto;
}

.reviews__ava-circle {
  z-index: 1;
  border: 2px solid #000;
  border-radius: 100px;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 5px;
  left: 0;
}

.reviews__ava-circle.mod--2 {
  width: 28px;
  height: 28px;
  top: 10px;
  left: auto;
  right: 0;
}

.reviews__ava-circle.mod--3 {
  width: 20px;
  height: 20px;
  inset: auto -1px 0 auto;
}

.reviews__p {
  color: #1b1b1bb3;
  line-height: 1.9em;
}

.reviews__dash {
  opacity: .5;
  background-image: url('./assets/dash-vertical.svg');
  background-position: 50% 100%;
  background-repeat: repeat-y;
  background-size: auto;
  width: 2px;
  height: 136px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.swiper__nav {
  justify-content: center;
  align-items: center;
  display: flex;
}

.swiper__nav.mod--reviews {
  display: none;
}

.swiper__arrow {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  transition: all .2s;
  display: flex;
}

.swiper__arrow.arrow--prev {
  margin-right: 32px;
  transform: rotate(180deg);
}

.swiper__arrow-ico {
  background-image: url('./assets/ico_arrow-right.svg');
  background-position: 50% 55%;
  background-repeat: no-repeat;
  background-size: auto;
  width: 42px;
  height: 42px;
  transition: all .2s;
}




/* 






*/





















/* 
content.mod--hero
hero__btn-wrap
*/