@media screen and (max-width: 767px) {
  .swiper-slide {
    width: 100%;
  }

  .swiper-pagination-bullets {
    display: flex;
  }

  .courses__col {
    width: 100%;
    margin-bottom: 24px;
  }

  .courses__col.mod--3 {
    margin-top: 0;
    margin-bottom: 0;
  }
}